@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @return if($index,
          str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace),
          $string);
}

@function svg-uri-icon($svg, $fill-color: null, $svg-init-color: null) {
  @if not str-index($svg, xmlns) {
    $svg: str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
  }

  @if $fill-color and not($svg-init-color){
    @if str-index($svg, "fill") {
      $svg: str-replace($svg, "fill", "data-old-fill");
      $svg: str-replace($svg, '<path', '<path fill="#{$fill-color}"');
      $svg: str-replace($svg, '<circle', '<circle fill="#{$fill-color}"');
    } @else {
      $svg: str-replace($svg, '<path', '<path fill="#{$fill-color}"');
      $svg: str-replace($svg, '<circle', '<circle fill="#{$fill-color}"');
    }
  }
  @if $svg-init-color{
    @if str-index($svg, $svg-init-color) {
      $svg: str-replace($svg, $svg-init-color, $fill-color);
    }
  }

  $encoded: '';
  $slice: 2000;
  $index: 0;
  $loops: str-length($svg);

  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '&', '%26');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');

    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }

  @return url("data:image/svg+xml,#{$encoded}");
}

@mixin create-icon($svg-icon, $fill-color: null, $curr-color: null, $size: null) {
  $svg: $svg-icon;

  &:before {
    content: "";
    display: inline-block;
    background-image: svg-uri-icon($svg, $fill-color, $curr-color);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: -0.125em;
    @if $size {
      width: $size;
      height: $size;
    }
    @content;
  }
}