@use "../index" as *;

//////////////////////////////////////////////////////////////////////
//1. USE CASE
//////////////////////////////////////////////////////////////////////

//create icon
.btn-1 {
  font-size: 20px;
  i {
    @include create-icon('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>'){
      position: relative;
      margin-right: 1rem;
      transition: all ease 300ms;
      width: 20px;
      height: 20px;
    }
  }
  &:hover{
    color: blue;
    i {
      @include create-icon('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="blue" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>')
    }
  }
}

//////////////////////////////////////////////////////////////////////
//2. USE CASE
//////////////////////////////////////////////////////////////////////

//variable for single icon
$i-user-view-box: '0 0 448 512';
$i-user-path: "M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z";

$i-check-view-box: "0 0 448 512";
$i-check-path: "M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z";

$i-check-view-box: "0 0 448 512";
$i-check-path: "M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z";

//create-icon-from-array USAGE
.btn-2 {
  $size: 20px;
  font-size: $size;
  i {
    @include create-icon-standalone($i-user-view-box, $i-user-path, #fff, $size){
      position: relative;
      margin-right: 1rem;
      transition: all ease 300ms;
    }
  }
  &:hover{
    color: blue;
    i {
      @include create-icon-standalone($i-user-view-box, $i-user-path, blue, $size)
    }
  }
}

//////////////////////////////////////////////////////////////////////
//3. USE CASE
//////////////////////////////////////////////////////////////////////

//ARRAY OF ICONS
$icons: (
        user: (
                viewBox: "0 0 448 512",
                d: "M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z",
                fill: #000
        ),
        check: (
                viewBox: "0 0 448 512",
                d: "M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z",
                fill: #000
        ),
        add: (
                viewBox: "0 0 448 512",
                d: "M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z",
                fill: #000
        ),
);

//use-icon-from-array USAGE
.btn-3 {
  $size: 20px;
  font-size: $size;
  i {
    @include create-icon-from-array($icons, user, #fff, $size){
      position: relative;
      margin-right: 1rem;
      transition: all ease 300ms;
    }
  }
  &:hover{
    color: blue;
    i {
      @include create-icon-from-array($icons, user, blue, $size)
    }
  }
}


//////////////////////////////////////////////////////////////////////
//4. USE CASE
//////////////////////////////////////////////////////////////////////

//svg with multiple paths
