

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica ', sans-serif;
  font-size: 16px;
}

section {
  margin-bottom: 50px;
}

.btn {
  color: #fff;
  background: #1d84ff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 15px;
  transition: all ease 300ms;
  display: inline-block;
}