@use "../functions" as *;

@mixin create-icon($svg-icon, $fill-color: null, $curr-color: null, $size: null) {
  $svg: $svg-icon;

  &:before {
    content: "";
    display: inline-block;
    background-image: svg-uri-icon($svg, $fill-color, $curr-color);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: -0.125em;
    @if $size {
      width: $size;
      height: $size;
    }
    @content;
  }
}