@use "../functions" as *;

@mixin create-icon-standalone($viewBox, $path, $color, $size) {
  &:before {
    content: "";
    display: inline-block;
    width: $size;
    height: $size;
    background-image: svg-url(svg-icon($viewBox, $path, $color));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: -0.125em;
    @content;
  }
}